img{
  width:200px; 
  border:px;
}
  

#sydney{
  z-index: 1;
}
  
#brisbane {
  z-index: 2;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  
}
    
#goldcoast{
  float: right;
  z-index: 3;
}
body{
  background-color: lightblue;
}

p{
  font-family:cursive;
  font-size:15px;
}
h1{
  color:yellow;
  font-size:40px;
}

li{
  font-size:15px;
    font-family:Arial;
}

h2{
  font-size:25px;
}

h3{
  font-size:25px;
}

h4{
  font-size:25px;
}